IDB_PNG1                PNG                     "resources\\icons\\professions\\Guardian.png"
IDB_PNG2                PNG                     "resources\\icons\\professions\\Warrior.png"
IDB_PNG3                PNG                     "resources\\icons\\professions\\Engineer.png"
IDB_PNG4                PNG                     "resources\\icons\\professions\\Ranger.png"
IDB_PNG5                PNG                     "resources\\icons\\professions\\Thief.png"
IDB_PNG6                PNG                     "resources\\icons\\professions\\Elementalist.png"
IDB_PNG7                PNG                     "resources\\icons\\professions\\Mesmer.png"
IDB_PNG8                PNG                     "resources\\icons\\professions\\Necromancer.png"
IDB_PNG9                PNG                     "resources\\icons\\professions\\Revenant.png"
IDB_PNG_E1              PNG                     "resources\\icons\\professions\\Dragonhunter.png"
IDB_PNG_E2              PNG                     "resources\\icons\\professions\\Berserker.png"
IDB_PNG_E3              PNG                     "resources\\icons\\professions\\Scrapper.png"
IDB_PNG_E4              PNG                     "resources\\icons\\professions\\Druid.png"
IDB_PNG_E5              PNG                     "resources\\icons\\professions\\Daredevil.png"
IDB_PNG_E6              PNG                     "resources\\icons\\professions\\Tempest.png"
IDB_PNG_E7              PNG                     "resources\\icons\\professions\\Chronomancer.png"
IDB_PNG_E8              PNG                     "resources\\icons\\professions\\Reaper.png"
IDB_PNG_E9              PNG                     "resources\\icons\\professions\\Herald.png"
IDB_PNG_POF1            PNG                     "resources\\icons\\professions\\Firebrand.png"
IDB_PNG_POF2            PNG                     "resources\\icons\\professions\\Spellbreaker.png"
IDB_PNG_POF3            PNG                     "resources\\icons\\professions\\Holosmith.png"
IDB_PNG_POF4            PNG                     "resources\\icons\\professions\\Soulbeast.png"
IDB_PNG_POF5            PNG                     "resources\\icons\\professions\\Deadeye.png"
IDB_PNG_POF6            PNG                     "resources\\icons\\professions\\Weaver.png"
IDB_PNG_POF7            PNG                     "resources\\icons\\professions\\Mirage.png"
IDB_PNG_POF8            PNG                     "resources\\icons\\professions\\Scourge.png"
IDB_PNG_POF9            PNG                     "resources\\icons\\professions\\Renegade.png"