IDB_PNG1                PNG                     "resources\\icons\\professions\\Guardian.png"
IDB_PNG2                PNG                     "resources\\icons\\professions\\Warrior.png"
IDB_PNG3                PNG                     "resources\\icons\\professions\\Engineer.png"
IDB_PNG4                PNG                     "resources\\icons\\professions\\Ranger.png"
IDB_PNG5                PNG                     "resources\\icons\\professions\\Thief.png"
IDB_PNG6                PNG                     "resources\\icons\\professions\\Elementalist.png"
IDB_PNG7                PNG                     "resources\\icons\\professions\\Mesmer.png"
IDB_PNG8                PNG                     "resources\\icons\\professions\\Necromancer.png"
IDB_PNG9                PNG                     "resources\\icons\\professions\\Revenant.png"